body{
    font-family: "Roboto", sans-serif;
}
.bottomright{
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 13px;
}
#title {
    font-size: 72px;
    background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: gradient 16s linear infinite;

    padding-left: 30px;
    padding-top: 30px;

}
.page-description{
    font-size: 20px;
    color: #dedede;
    padding-left: 30px;
    padding-bottom: 30px;
}
.bg{
    width: 800px;
    height: 700px;

    transform: translate(0,40px);

    background-color: #121212;

    margin: auto;
}
.project-container{

    width: 800px;
    height: 500px;

    position: absolute;

    overflow-y: auto;

    padding: 10px;


}
.project{

    padding: 20px;
    width: 92%;
    height: 12%;
}
.project:hover{
    background-color: #1a1a1a;
}
.project-info{
    float: left;
}
.project-title{
    font-size: 20px;
    color: #dedede;
}
.project-description{
    font-size: 13px;
    color: #b3b3b3;
}


/* button */
.project-button {
    background-color:#bd6ff1;
    border-radius:28px;
    border:1px solid #52057b;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;

    padding:9px 12px;
    width: 100px;

    text-decoration:none;
    text-align: center;

    float: right;
}
.project-button:hover {
    background-color:#8a2cdc;
}
.project-button:active {
    position:relative;
    top:1px;
}

/* gradient */
.gradient-background {
    width:100%;
    height: 100%;
    background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;

    position: absolute;
    transform: translate(-8px,-8px);
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}
